<app-search (mySearch)='getuserName($event)'></app-search>
<!-- <p>{{profile.name}}</p>
<p>{{profile.login}}</p>
<img src="{{profile.avatar_url}}" alt="">
<div *ngFor='let repo of repos'>
<p>{{repo.name}}</p>
<p>{{repo.language}}</p>
</div> -->

<div *ngIf="profile">
  <div class="container-fluid panel panel-default">
    <br />
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
          <img src="{{ profile.avatar_url }}" class="img-fluid img-circle img-responsive" alt="100x100"
            data-holder-rendered="true" />
          <hr />
          <div class="items">
            <h3><strong>{{ profile.name }}</strong></h3>
          </div>
          <div class="items" style="color: grey;">
            <h4>({{ profile.login }})</h4>
            <span *ngIf="profile.company"> ,Works at {{ profile.company }} </span>
          </div>
          <div class="items">
            <h5>{{ profile.location }}</h5>
          </div>
          <div class="items">
            <a href="{{profile.twitter_username}}" *ngIf="profile.twitter_username">@{{profile.twitter_username}}</a>
          </div>
        </div>
        <div class="col-sm-5">
          <ul class="list-group items">
            <li class="list-group-item" *ngIf="profile.bio">
              {{ profile.bio }}
            </li>
            <li class="list-group-item" *ngIf="profile.hireable">
              Available for hire
            </li>
            <li class="list-group-item" *ngIf="profile.blog">
              <a href="{{ profile.blog }}" target="_blank">{{
                profile.blog
              }}</a>
            </li>
            <li class="list-group-item" *ngIf="profile.email">
              <a href="Emailto:{{ profile.email }}" target="_blank">{{
                profile.email
              }}</a>
            </li>
          </ul>
        </div>
        <div class="col-sm-4">
          <div>
            <p class="items">
              <span class="badge">
                Followers: {{ profile.followers }}
              </span>
              <span class="badge">
                Following {{ profile.followings }}
              </span>
              <span class="badge">
                Public gists: {{ profile.public_gists }}
              </span>
              <span class="badge">
                Public Repositories: {{ profile.public_repos }}
              </span>
              <hr />

            <p class="items">
              <a href="{{ profile.html_url }}" class="btn btn-success btn-sm badge">View Profile on Github</a>
            </p>
            <hr />
            <div class="div panel panel-default">
              <div class="div panel-heading items">
                <h3 class="panel-title">Repositories</h3>
              </div>
              <div class="">
                <ul class="list-group">
                  <li *ngFor="let repo of repos" class="list-group-item ">
                    {{ repo.name
                    }}{{repo.language}}<a href="{{ repo.html_url }}" target="_blank"
                      class="btn btn-sm btn-success pull-right items">View on github</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
