<!-- <app-search (mySearch) = 'getuserName($event)'></app-search>
<p>{{profile.name}}</p>
<p>{{profile.login}}</p>
<img src="{{profile.avatar_url}}" alt="">
<div *ngFor='let repo of repos'>
<p>{{repo.name}}</p>
<p>{{repo.language}}</p>
</div> -->

<div *ngIf = "profile" >
  <div class="container-fluid">
    <div class="navbar navbar-expand-lg navbar-dark bg-blue fixed-top container-fluid">
      {{profile.name}}<small>({{profile.login}})</small>
      <span *ngIf="profile.company">
        ,Works at {{profile.company}}
      </span>
      {{profile.location}}
    </div>
    <br/>
    <br/>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3">
          <img src="{{profile.avatar_url}}" class="img-fluid rounded-circle shadow-2-strong hover-shadow" alt="100x100" data-holder-rendered="true"/>
        </div>
      </div>
    </div>
  </div>
</div>
