@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');
.items {
  font-family: "Montserrat", sans-serif;
}
.location {
  width: 20%;
}
h5{
  font-style: italic;
}
.dated{

  font-family: 'Italianno', cursive;
  font-size: 25px;
}
